@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}


<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-muted"><em>@ViewBag.Message</em></h4>
</div>

<h4>
    <strong><em>Xpense$hare</em></strong> is a streamlined WebApp for friends to easily split expenses, calculate tips and convert currencies.
    Our goal is to offer you a simple, one-stop solution to sharing expenses and calculating tips. 
    Instead of using the calculator app to divide and multiply, you can plug in your information and get an instant result. 
    You even get to see how much each person should leave in order to evenly share the tip.
    No more dividing the bill, then going through the formula to calculate a tip. It is all done <em>'under-the-hood'</em>!
</h4>
