@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Xpense$hare";
}

<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">
        Xpense$hare is a streamlined WebApp for friends to easily split expenses, calculate tips and convert currencies.
    </p>

    <div class="text-center">
        <h3 class="text-muted">ALPHA 0.5</h3>
        <p>
            @Html.Bootstrap().ActionButton("Learn More \u00BB", BootstrapNamedColor.Primary, "About", "Home")
        </p>
    </div>
</div>

<div class="row" id="mainRow">

    <div class="col-md-3 col-md-offset-3 text-center">

        <h2>Share an Expense</h2>
        <p>
            Split a bill, or any expense, between any number of people. Also calculate a tip.
        </p>
        <p>
            @Html.Bootstrap().ActionButton("Share Expenses \u00BB", BootstrapNamedColor.Success, "BillCalculator", "Calculator")
        </p>
    </div>

    <div class="col-md-3 text-center">

        <h2>Convert Currencies</h2>
        <p>
            Convert $USD in to one of 168 available world currencies. Even Bitcoin!
        </p>
        <p>
            @Html.Bootstrap().ActionButton("Convert Currency \u00BB", BootstrapNamedColor.Success, "ConvertCurrency", "Currency")
        </p>
    </div>
</div>