@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Road Map";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-muted"><em>@ViewBag.Message</em></h4>
</div>

<h3>Short-Term Goals:</h3>
<ul id="shortTerm">
    <li><h4 style="text-decoration: line-through;">Add an API to get active exchange rate updates</h4></li>
    <li><h4 style="text-decoration: line-through;">Populate a menu of currencies to convert in to using API</h4></li>
    <li><h4 style="text-decoration: line-through;">Implement currency conversions using the exchange rates</h4></li>
    <li><h4 style="text-decoration: line-through;">Use above API to read in currency names to display on results page</h4></li>
    <li><h4>Add ability to create new users, login / authentication features and security</h4></li>
    <li><h4>Create and Connect to a Database</h4></li>
    <li><h4>Use database to keep track of expenses, expense types etc</h4></li>
    <li><h4>Generate a excel spreadsheet of expenses</h4></li>
</ul>

<h3>Long-Term Goals:</h3>
<ul id="longTerm">    
    <li><h4>Add API for reading bill information directly off of a reciept</h4></li>
    <li><h4>Use above API to populate bill information directly in to corresponding fields</h4></li>
    <li><h4>Add ability to create a bill</h4>
    <li><h4>Add ability for users to check off what items were theirs, and derive their total</h4></li>
    <li><h4>Add API for geo-location</h4></li>
    <li><h4>Add ability to change the starting currency globally - use geo-location API </h4></li>
    <li><h4>Add feature using above API that only displays the option to calculate a tip in regions where it is customary</h4></li>
    <li><h4>Add API that will connect to each user's e-wallet and automatically draw their total off and send it to the bill creator</h4></li>
</ul>