@model ExpenseShare.Models.Currency

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Convert Currency";
}

<span>@Model.AmountConvertedFrom</span><span> - US Dollars - USD</span>
<br>
<span><i class="glyphicon glyphicon-arrow-down text-center"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-down text-center"></i></span>
<br>
<span>@Model.ConvertedAmount</span><span> - Canadian Dollars - CAD</span>
