@model ExpenseShare.Models.CurrencyInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Convert Currency";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-muted"><em>@ViewBag.Message</em></h4>
</div>

<form id="currencyForm" action="@Url.Action("ConvertCurrencyResult", "Currency", Model)" method="post">
    <h4>Amount to Convert <em>(USD is currently the only base currency)</em>:</h4>
    <span><i class="glyphicon glyphicon-usd"></i>&nbsp;</span>@Html.TextBoxFor(m => m.AmountToConvert, new { @class = "textInput", type = "number", step = "0.01", min = "0.00", autocomplete = "off", required = "required" })
    <h4>Convert To:</h4>
    <span><i class="glyphicon glyphicon-globe"></i>&nbsp;</span><select required id="currencyCodeSelect" name="CurrencyCode">

    <option value='USDAED'>United Arab Emirates Dirham</option>
    <option value='USDAFN'>Afghan Afghani</option>
    <option value='USDALL'>Albanian Lek</option>
    <option value='USDAMD'>Armenian Dram</option>
    <option value='USDANG'>Netherlands Antillean Guilder</option>
    <option value='USDAOA'>Angolan Kwanza</option>
    <option value='USDARS'>Argentine Peso</option>
    <option value='USDAUD'>Australian Dollar</option>
    <option value='USDAWG'>Aruban Florin</option>
    <option value='USDAZN'>Azerbaijani Manat</option>
    <option value='USDBAM'>Bosnia-Herzegovina Convertible Mark</option>
    <option value='USDBBD'>Barbadian Dollar</option>
    <option value='USDBDT'>Bangladeshi Taka</option>
    <option value='USDBGN'>Bulgarian Lev</option>
    <option value='USDBHD'>Bahraini Dinar</option>
    <option value='USDBIF'>Burundian Franc</option>
    <option value='USDBMD'>Bermudan Dollar</option>
    <option value='USDBND'>Brunei Dollar</option>
    <option value='USDBOB'>Bolivian Boliviano</option>
    <option value='USDBRL'>Brazilian Real</option>
    <option value='USDBSD'>Bahamian Dollar</option>
    <option value='USDBTC'>Bitcoin</option>
    <option value='USDBTN'>Bhutanese Ngultrum</option>
    <option value='USDBWP'>Botswanan Pula</option>
    <option value='USDBYN'>Belarusian Ruble - BYN</option>
    <option value='USDBYR'>Belarusian Ruble - BYR</option>
    <option value='USDBZD'>Belize Dollar</option>
    <option value='USDCAD'>Canadian Dollar</option>
    <option value='USDCDF'>Congolese Franc</option>
    <option value='USDCHF'>Swiss Franc</option>
    <option value='USDCLF'>Chilean Unit of Account (UF)</option>
    <option value='USDCLP'>Chilean Peso</option>
    <option value='USDCNY'>Chinese Yuan</option>
    <option value='USDCOP'>Colombian Peso</option>
    <option value='USDCRC'>Costa Rican Colón</option>
    <option value='USDCUC'>Cuba Convertible Peso</option>
    <option value='USDCUP'>Cuban Peso</option>
    <option value='USDCVE'>Cape Verdean Escudo</option>
    <option value='USDCZK'>Czech Republic Koruna</option>
    <option value='USDDJF'>Djiboutian Franc</option>
    <option value='USDDKK'>Danish Krone</option>
    <option value='USDDOP'>Dominican Peso</option>
    <option value='USDDZD'>Algerian Dinar</option>
    <option value='USDEEK'>Estonian Kroon</option>
    <option value='USDEGP'>Egyptian Pound</option>
    <option value='USDERN'>Eritrean Nakfa</option>
    <option value='USDETB'>Ethiopian Birr</option>
    <option value='USDEUR'>Euro</option>
    <option value='USDFJD'>Fijian Dollar</option>
    <option value='USDFKP'>Falkland Islands Pound</option>
    <option value='USDGBP'>British Pound Sterling</option>
    <option value='USDGEL'>Georgian Lari</option>
    <option value='USDGGP'>Guernsey Pound</option>
    <option value='USDGHS'>Ghanaian Cedi</option>
    <option value='USDGIP'>Gibraltar Pound</option>
    <option value='USDGMD'>Gambian Dalasi</option>
    <option value='USDGNF'>Guinean Franc</option>
    <option value='USDGTQ'>Guatemalan Quetzal</option>
    <option value='USDGYD'>Guyanaese Dollar</option>
    <option value='USDHKD'>Hong Kong Dollar</option>
    <option value='USDHNL'>Honduran Lempira</option>
    <option value='USDHRK'>Croatian Kuna</option>
    <option value='USDHTG'>Haitian Gourde</option>
    <option value='USDHUF'>Hungarian Forint</option>
    <option value='USDIDR'>Indonesian Rupiah</option>
    <option value='USDILS'>Israeli New Sheqel</option>
    <option value='USDIMP'>Manx pound</option>
    <option value='USDINR'>Indian Rupee</option>
    <option value='USDIQD'>Iraqi Dinar</option>
    <option value='USDIRR'>Iranian Rial</option>
    <option value='USDISK'>Icelandic Króna</option>
    <option value='USDJEP'>Jersey Pound</option>
    <option value='USDJMD'>Jamaican Dollar</option>
    <option value='USDJOD'>Jordanian Dinar</option>
    <option value='USDJPY'>Japanese Yen</option>
    <option value='USDKES'>Kenyan Shilling</option>
    <option value='USDKGS'>Kyrgystani Som</option>
    <option value='USDKHR'>Cambodian Riel</option>
    <option value='USDKMF'>Comorian Franc</option>
    <option value='USDKPW'>North Korean Won</option>
    <option value='USDKRW'>South Korean Won</option>
    <option value='USDKWD'>Kuwaiti Dinar</option>
    <option value='USDKYD'>Cayman Islands Dollar</option>
    <option value='USDKZT'>Kazakhstani Tenge</option>
    <option value='USDLAK'>Laotian Kip</option>
    <option value='USDLBP'>Lebanese Pound</option>
    <option value='USDLKR'>Sri Lankan Rupee</option>
    <option value='USDLRD'>Liberian Dollar</option>
    <option value='USDLSL'>Lesotho Loti</option>
    <option value='USDLTL'>Lithuanian Litas</option>
    <option value='USDLVL'>Latvian Lats</option>
    <option value='USDLYD'>Libyan Dinar</option>
    <option value='USDMAD'>Moroccan Dirham</option>
    <option value='USDMDL'>Moldovan Leu</option>
    <option value='USDMGA'>Malagasy Ariary</option>
    <option value='USDMKD'>Macedonian Denar</option>
    <option value='USDMMK'>Myanma Kyat</option>
    <option value='USDMNT'>Mongolian Tugrik</option>
    <option value='USDMOP'>Macanese Pataca</option>
    <option value='USDMRO'>Mauritanian Ouguiya</option>
    <option value='USDMUR'>Mauritian Rupee</option>
    <option value='USDMVR'>Maldivian Rufiyaa</option>
    <option value='USDMWK'>Malawian Kwacha</option>
    <option value='USDMXN'>Mexican Peso</option>
    <option value='USDMYR'>Malaysian Ringgit</option>
    <option value='USDMZN'>Mozambican Metical</option>
    <option value='USDNAD'>Namibian Dollar</option>
    <option value='USDNGN'>Nigerian Naira</option>
    <option value='USDNIO'>Nicaraguan Córdoba</option>
    <option value='USDNOK'>Norwegian Krone</option>
    <option value='USDNPR'>Nepalese Rupee</option>
    <option value='USDNZD'>New Zealand Dollar</option>
    <option value='USDOMR'>Omani Rial</option>
    <option value='USDPAB'>Panamanian Balboa</option>
    <option value='USDPEN'>Peruvian Nuevo Sol</option>
    <option value='USDPGK'>Papua New Guinean Kina</option>
    <option value='USDPHP'>Philippine Peso</option>
    <option value='USDPKR'>Pakistani Rupee</option>
    <option value='USDPLN'>Polish Zloty</option>
    <option value='USDPYG'>Paraguayan Guarani</option>
    <option value='USDQAR'>Qatari Rial</option>
    <option value='USDRON'>Romanian Leu</option>
    <option value='USDRSD'>Serbian Dinar</option>
    <option value='USDRUB'>Russian Ruble</option>
    <option value='USDRWF'>Rwandan Franc</option>
    <option value='USDSAR'>Saudi Riyal</option>
    <option value='USDSBD'>Solomon Islands Dollar</option>
    <option value='USDSCR'>Seychellois Rupee</option>
    <option value='USDSDG'>Sudanese Pound</option>
    <option value='USDSEK'>Swedish Krona</option>
    <option value='USDSGD'>Singapore Dollar</option>
    <option value='USDSHP'>Saint Helena Pound</option>
    <option value='USDSLL'>Sierra Leonean Leone</option>
    <option value='USDSOS'>Somali Shilling</option>
    <option value='USDSRD'>Surinamese Dollar</option>
    <option value='USDSTD'>São Tomé and Príncipe Dobra</option>
    <option value='USDSVC'>Salvadoran Colón</option>
    <option value='USDSYP'>Syrian Pound</option>
    <option value='USDSZL'>Swazi Lilangeni</option>
    <option value='USDTHB'>Thai Baht</option>
    <option value='USDTJS'>Tajikistani Somoni</option>
    <option value='USDTMT'>Turkmenistani Manat</option>
    <option value='USDTND'>Tunisian Dinar</option>
    <option value='USDTOP'>Tongan Pa?anga</option>
    <option value='USDTRY'>Turkish Lira</option>
    <option value='USDTTD'>Trinidad and Tobago Dollar</option>
    <option value='USDTWD'>New Taiwan Dollar</option>
    <option value='USDTZS'>Tanzanian Shilling</option>
    <option value='USDUAH'>Ukrainian Hryvnia</option>
    <option value='USDUGX'>Ugandan Shilling</option>
    <option value="USDUSD">United States Dollar</option>
    <option value='USDUYU'>Uruguayan Peso</option>
    <option value='USDUZS'>Uzbekistan Som</option>
    <option value='USDVEF'>Venezuelan Bolívar</option>
    <option value='USDVND'>Vietnamese Dong</option>
    <option value='USDVUV'>Vanuatu Vatu</option>
    <option value='USDWST'>Samoan Tala</option>
    <option value='USDXAF'>CFA Franc BEAC</option>
    <option value='USDXAG'>Silver (troy ounce)</option>
    <option value='USDXAU'>Gold (troy ounce)</option>
    <option value='USDXCD'>East Caribbean Dollar</option>
    <option value='USDXDR'>Special Drawing Rights</option>
    <option value='USDXOF'>CFA Franc BCEAO</option>
    <option value='USDXPF'>CFP Franc</option>
    <option value='USDYER'>Yemeni Rial</option>
    <option value='USDZAR'>South African Rand</option>
    <option value='USDZMK'>Zambian Kwacha (pre-2013)</option>
    <option value='USDZMW'>Zambian Kwacha</option>
    <option value='USDZWL'>Zimbabwean Dollar</option>
</select>
    <button style="display: block; margin-top: 10px;" class="btn btn-success">Convert &raquo;</button>
</form>