@model ExpenseShare.Models.CurrencyInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Convert Currency";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-muted"><em>@ViewBag.Message</em></h4>
</div>

<h4 class="text-muted"><i class="fa fa-exclamation-triangle" style="color: red;"></i>&nbsp;<em>Under Construction</em>&nbsp;<i class="fa fa-exclamation-triangle" style="color: red;"></i></h4>

<form action="@Url.Action("ConvertCurrencyResult", "Currency", Model)" method="post">

</form>