@model ExpenseShare.Models.Expense

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Results";
    int numberSharingBill = Model.NumberSharingBill;
    decimal billTotal = Model.BillTotal;
    decimal bill = Model.BillResult;
    decimal billPlusTip = Model.BillPlusTip;
    decimal tip = Model.TipResult;
    decimal shareTipResult = Model.SharedTip;
    decimal individualTotalPlusTip = Model.IndividualBillPlusIndividualTip;
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-muted"><em>@ViewBag.Message</em></h4>
</div>

<hr />

@* If the user selects 0 || 1 as number sharing the bill display the information in singular terms *@
@if (numberSharingBill.Equals(0) || numberSharingBill.Equals(1))
{
    <h4>You Owe $@(bill)</h4>
    if (tip == 0.00m)
    {
        @* If user selects 0 for the tip percentage display nothing *@
    }
    else
    {
        <h5>You Should Tip $@(tip)</h5>
        <p>Total Plus Tip: $@(billPlusTip)</p>
    }
}
@* Else display bill information in plural terms *@
else
{
    <h3>Total: $@Model.BillTotal</h3>
    <h4>Each Party Owes $@(bill)</h4>
    if (tip == 0.00m)
    {
        @* If user selects 0 for the tip percentage display nothing *@
    }
    else
    {
        <h5>Your Party Should Tip $@(tip)</h5>
        <h5>Each Party Should Leave $@(shareTipResult)</h5>
        <p>Total With Tip: $@(billPlusTip)</p>

        if (numberSharingBill == 0)
        {
            @*<p>Total With Tip: $@(billPlusTip)</p>*@
        }
        if (numberSharingBill >= 0)
        {
            <p>Individual Total With Tip: $@(individualTotalPlusTip)</p>
        }

    }
}



